# Summary:
# Test the GitHub Action using an integration test.
# Makes sure the GitHub Action works properly when running on a clean machine, without building anything (integration test).
# This integration test will break if the Vercel project or deployment are deleted, or if the VERCEl_TOKEN doesn't have access to the deployment url.
#
# See https://github.com/actions/checkout https://github.com/actions/checkout/releases/tag/v2

name: 'GitHub Action integration test'
on:
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

jobs:
  run-integration-test1:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - run: yarn # Install all dependencies
      - uses: ./
        id: store-variables
        with:
          variables: |
            URL=https://github.com
      - run: |
          echo "Exported variable URL=$URL"
        env:
          URL: ${{ env.URL }}
  run-integration-test2:
    runs-on: ubuntu-22.04
    needs: run-integration-test1
    steps:
      - uses: actions/checkout@v3
      - run: yarn # Install all dependencies
      - uses: ./
        with:
          variables: |
            URL
            SECOND_URL=https://github.com/UnlyEd
      - run: |
          echo "Found from previous job URL=$URL"
          echo "Exported variable SECOND_URL=$SECOND_URL"
        env:
          URL: ${{ env.URL }}
          SECOND_URL: ${{ env.SECOND_URL }}
  run-integration-test3:
    runs-on: ubuntu-22.04
    needs: run-integration-test2
    steps:
      - uses: actions/checkout@v3
      - run: yarn # Install all dependencies
      - uses: ./
        with:
          variables: |
            URL
            SECOND_URL
      - run: |
          echo "Found from previous job URL=$URL"
          echo "Found from previous job SECOND_URL=$SECOND_URL"
        env:
          URL: ${{ env.URL }}
          SECOND_URL: ${{ env.SECOND_URL }}

  should-not-fail-on-retrieving:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - run: yarn # Install all dependencies
      - uses: ./
        with:
          variables: |
            RANDOM_VAR
          failIfNotFound: false # default is false
